<div class="card card--@label">
    <div class="card-main">
        <p class="card__label card__label--@label">% Акция</p>
        <div class="card-arrows">
            <div class="card-arrow card-arrow--prev">
                <img class="card-a" src="images/icons/slider-arrow-left.svg" alt="img">
            </div>
            <div class="card-arrow card-arrow--next">
                <img class="card-a" src="images/icons/slider-arrow.svg" alt="img">
            </div>
        </div>

        <div class="card-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fancybox href="images/card-1.jpg">
                        <img class="card-slider__img" src="images/card-1.jpg" alt="img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox href="images/card-2.jpg">
                        <img class="card-slider__img" src="images/card-2.jpg" alt="img">
                    </a>
                </div>
            </div>
        </div>
        <p class="card-t card-t--mob">В наличии</p>
        <p class="card-title">Тахеометр Trimble S5 5″ Robotic, DR Plus</p>
        <p class="card-desc">Точность угловых измерений: 2" Дальность без отражателя:
            1000
            м</p>
        <div class="card-wrap">
            <p class="card-price">318 600 ₽</p>
            <p class="card-old">324 600 ₽</p>
            <p class="card-t">В наличии</p>
        </div>
    </div>
    <div class="card-bottom">
        <button data-modal="exampleModal" class="btn-main card-click btn-in-one order-call">Купить в 1
            клик</button>
        <button class="card-basket add-to-cart">
            <div class="default"><img src="images/icons/basket.svg" alt="icon"></div>
            <div class="success"><img src="images/icons/basket.svg" alt="icon"></div>
            <div class="cart">
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="dots"></div>
        </button>
        <button class="card-comparison add-comparison">
            <img src="images/icons/comp.svg" alt="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <g id="checkmark">
                    <line class="cls-1" x1="3" x2="12" y1="16" y2="25"></line>
                    <line class="cls-1" x1="12" x2="29" y1="25" y2="7"></line>
                </g>
            </svg>
        </button>
    </div>
</div>