.catalog {
  padding-top: 260px;
}

.catalog-main {
  position: relative;
}

.catalog-bg {
  position: absolute;
  max-width: 60%;
  left: -20vw;
  max-width: 600px;
  bottom: -146px;
  z-index: -1;
}

.catalog-list {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.catalog-list .card {
  max-width: 310px;
}

.catalog__title {
  margin-top: 30px;
}

.catalog-wrapper {
  position: relative;
  display: flex;
  gap: 20px;
}

.catalog-aside {
  width: 310px;
  flex-shrink: 0;
}

.catalog-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.catalog-sort__list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.catalog-sort__list li {
  border: 1px solid #DBDDE0;
  border-radius: 2px;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 20px;
  transition: all, .3s;
  cursor: pointer;
}

.catalog-sort__list li.active {
  background-color: #53C5E2;
  border-color: #53C5E2;
  color: #fff;
}

.jq-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #DBDDE0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.jq-checkbox::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #53C5E2;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all, .3s;
}

.jq-checkbox.checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.drop {
  cursor: pointer;
}

.filters {
  margin-bottom: 30px;
  padding: 30px 20px 30px 30px;
  background: #FFFFFF;
  border-radius: 4px;
}

.filters-cross {
  display: none;
}

.filters .drop {
  padding: 0;
}

.filters .drop.active img {
  transform: rotate(180deg);
}

.filters-wr {
  display: flex;
  flex-wrap: wrap;
}

.filters-wr .filters-label {
  flex-basis: 34%;
}

.filters.param h3 {
  cursor: auto;
}

.filters-mob {
  display: none;
}

.filters-drop {
  padding-left: 32px !important;
  display: none;
  animation: fade .25s ease-in-out;

  &.show {
    display: block;
  }
}



.filters-block {
  flex-grow: 1;
}

.filters-block .drop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.filters-w {
  display: flex;
  flex-direction: column;
  // gap: 10px;
}

.filters-w:last-child {
  margin-bottom: 0;
}

// .filters-w:first-child .filters-drop {
//   display: block;
// }

.filters-item {
  margin-bottom: 20px;
}

.filters-content {
  margin-top: 18px;
  font-size: 14px;
  line-height: 18px;
  display: none;
  animation: fade .25s ease-in-out;

  &.show {
    display: block;
  }
}

.filters h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}

.filters-label {
  margin-bottom: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filters-label::last-child {
  margin-bottom: 0;
}

.filters-link {
  margin-bottom: 6px;
  display: block;
  transition: all, .3s;
}

.drop {
  position: relative;
  cursor: pointer;

  img {
    transition: all, .3s;
  }

  &.show img {
    transform: rotate(180deg);
  }
}


.irs-from,
.irs-to,
.irs-min,
.irs-max,
.irs-single {
  display: none;
}

.extra-controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.extra-controls input {
  max-width: 120px;
  border: 1px solid #DBDDE0;
  border-radius: 2px;
  outline: none;
  height: 40px;
  text-align: center;
}

.irs--round .irs-bar {
  background: #53C5E2;
  top: 25px;
}

.irs--round .irs-handle {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #53C5E2;
  top: 30px;
  top: 19px;
}

.irs--round .irs-line {
  top: 25px;
}

.aside-form {
  background: linear-gradient(100.12deg, #BCA59F 0.79%, #CFBEBA 99.2%);
  border-radius: 4px;
  padding: 30px 18px 30px 30px;
}

.aside-form--mob {
  display: none;
}

.aside-form__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.aside-form .cta-input {
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}

.aside-form .cta-btn {
  max-width: 250px;
}

.aside-form .cta-label {
  margin-top: 14px;
}

@media (max-width: 1350px) {
  .catalog-aside {
    flex-shrink: 1;
  }
}

@media (max-width: 1320px) {
  .catalog-main {
    max-width: 72%;
  }

  .catalog-list .card {
    max-width: 48%;
  }

  .catalog-list .card-click {
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .catalog-main {
    max-width: 67%;
  }

  .catalog-sort__list li {
    font-size: 12px;
  }
}

@media (max-width: 992px) {

  .filter {
    background-color: #fff;
  }

  .filters.param {
    padding-top: 0 !important;
  }

  .catalog-bg {
    display: none;
  }

  .catalog-sort {
    position: relative;
  }

  .catalog-sort span {
    font-size: 12px;
  }

  .catalog-sort__list {
    display: block;
    position: absolute;
    width: max-content;
    z-index: 14;
    background-color: #fff;
    opacity: 0;
    transition: all, .3s;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .filters {
    margin-bottom: 0;
    padding-top: 50px;
  }

  .filters-cross {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .filters-content {
    display: none;
  }

  .filters-mob {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #53C5E2;
    border-radius: 4px;
    min-height: 50px;
    padding: 20px;
    width: 100%;
    max-width: 170px;
    text-align: center;
    justify-content: center;
  }

  .catalog {
    padding-top: 20px;
  }

  .catalog-wrapper {
    flex-direction: column;
    position: static;
  }

  .catalog-main {
    max-width: 100%;
  }

  .catalog-aside .aside-form {
    display: none;
  }

  .catalog-w {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .catalog-sort {
    margin-top: 0;
  }

  .catalog-sort span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #53C5E2;
    border-radius: 4px;
    min-height: 50px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .aside-form {
    display: block;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .aside-form .cta-input,
  .aside-form .cta-btn {
    max-width: 295px;
  }

  .aside-form--mob {
    display: block;
  }

  .filter {
    position: fixed;
    transition: all, .3s;
    z-index: 100;
    width: 100%;
    left: 0;
    top: -150%;
    min-height: 100vh;
    overflow-y: auto;

    &.active {
      top: 0;
    }
  }
}

@media (max-width: 576px) {
  .pagination {
    margin-top: 30px;
  }

  .filters-mob {
    flex-basis: 50%;
  }

  .pagination-list__item:nth-child(3),
  .pagination-list__item:nth-child(4) {
    display: none;
  }

  .catalog-sort {
    flex-basis: 50%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .accessories-arrows {
    margin-top: 40px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    position: static;
    transform: none;
  }

  .accessories-arrow {
    position: static;
    transform: scale(1);
  }

  .accessories-list .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
  }

  .accessories-list .slick-list {
    margin-left: -5px;
    margin-right: -5px;
  }

  .catalog-list {
    gap: 10px;
  }

  .catalog-list .card {
    max-width: 48%;
  }

  .card--accessories .card-wrap {
    margin-top: 20px;
  }

  .aside-form {
    padding: 30px;
  }
}

@media (max-width: 380px) {
  .catalog-w {
    gap: 10px;
  }

  .filters-mob {
    font-size: 12px;
  }
}