<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="footer-wrapper">
                <a href="#" class="logo">
                    <img src="images/icons/logo.png" alt="img">
                    <p class="footer-m ftr-cat-btn">Каталог оборудования <img src="images/icons/cat-arrow.svg" alt=""
                            class="for-mob"></p>

                </a>
                <div class="footer-nav">
                    <p class="footer-nav__title">Каталог оборудования</p>
                    <div class="footer-nav__w">
                        <ul class="footer-nav__list">
                            <li>
                                <a href="#">
                                    Электронные тахеометры
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Лазерные сканеры <br>/ Системы лазерного <br> сканирования
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Геодезические GNSS приемники
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Геодезические GNSS приемники
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Модемы для GNSS приемников
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Нивелиры
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Теодолиты
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Модемы для GNSS приемников
                                </a>
                            </li>
                        </ul>
                        <ul class="footer-nav__list">
                            <li>
                                <a href="#">
                                    Приборы вертикального <br> проектирования
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Квадранты
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Гравиметры
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Беспилотные воздушные <br> судна/ БПЛА
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Трассоискатели
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Эхолоты
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Георадары
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Аксессуары
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Софт
                                </a>
                            </li>
                        </ul>
                        <ul class="footer-nav__list">
                            <li>
                                <a href="#">
                                    Аренда
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Выкуп и Trade-in
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сервисный центр
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Техподдержка и обучение
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Поверка оборудования
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Инструкции и сертификаты
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    О компании
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Блог
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Услуги по геодезии
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="footer-w">
                        <h4>Контакты</h4>
                        <div class="contacts-i">
                            <a href="tel:88000000000">8 (800) 000-00-00</a>
                            <a href="tel:8 (800) 2222-801">8 (800) 2222-801</a>
                            <p>Пн-Пт: с 9:30 до 19:00 <br> Сб: с 10:00 до 15:00</p>
                        </div>
                        <ul class="social">
                            <li class="social-item tg">
                                <a href="#">
                                    <img src="images/icons/tg.svg" alt="icon">
                                </a>
                            </li>
                            <li class="social-item w">
                                <a href="#">
                                    <img src="images/icons/w.svg" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-w">
                        <h4>Сервис и техподдержка:</h4>
                        <div class="contacts-i">
                            <a href="tel:+79295499535">+7 (929) 549-95-35</a>
                        </div>
                        <ul class="social">
                            <li class="social-item tg">
                                <a href="#">
                                    <img src="images/icons/tg.svg" alt="icon">
                                </a>
                            </li>
                            <li class="social-item w">
                                <a href="#">
                                    <img src="images/icons/w.svg" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-list">
                        <p>Головное подразделение: <br> Москва, Москва, Амурская <br> 9/6 строение 9</p>
                        <p class="footer-btn">Представительства в регионах</p>
                        <p>
                            <a href="mailto:info@tigeo.ru">info@tigeo.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__w">
                <a href="policy.html" class="footer-conf">Политика конфиденциальности</a>
                <p>@ 2013 — 2022 ТИГЕО | ТРЕЙД-ИН-ГЕО Все права защищены</p>
                <p class="footer-agency">
                    <span>Разработка сайта</span>
                    <a href="#">
                        <img src="images/icons/agency.svg" alt="img">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>