<!-- <div id="preloader"></div> -->

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__w">
                <p class="header-top__place">Головное подразделение: Москва, Амурская 9/6 строение 9</p>
                <div class="header-top__block">
                    <ul class="header-top__list list-reset">
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Доставка и оплата
                            </a>
                        </li>
                    </ul>
                    <a href="mailto:info@tigeo.ru" class="header-mail">info@tigeo.ru</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-m">
        <div class="header-main">
            <div class="container">
                <div class="header-main__w">
                    <a href="#" class="logo">
                        <img width="70" height="70" src="images/icons/logo.png" alt="img">
                        <p class="header-main__t">
                            Геодезическое оборудование. <br> Продажа - Аренда - Выкуп - Trade In
                        </p>
                    </a>
                    <div class="header-search--mob">
                        <img class="search-cross" src="images/icons/cross.svg" alt="icon">
                        <div class="header-search">
                            <button>
                                <img src="images/icons/search.svg" alt="search">
                            </button>
                            <input type="search" placeholder="Поиск">
                        </div>
                    </div>
                    <ul class="social list-reset">
                        <li class="social-item tg">
                            <a href="#">
                                <img src="images/icons/tg.svg" alt="icon">
                            </a>
                        </li>
                        <li class="social-item w">
                            <a href="#">
                                <img src="images/icons/w.svg" alt="icon">
                            </a>
                        </li>
                    </ul>
                    <div class="contacts-i">
                        <a href="tel:88000000000">8 (800) 000-00-00</a>
                        <p>Пн-Пт: с 9:30 до 19:00 <br> Сб: с 10:00 до 15:00</p>
                    </div>
                    <button data-modal="exampleModal" class="btn-main header-btn">Заказать
                        звонок</button>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <img class="header-cross" src="images/icons/cross.svg" alt="img">
            <div class="nav-search for-mob">
                <form action="">
                    <div class="form-group">
                        <input type="text" name="nav-search" id="nav-search" placeholder="Поиск">
                        <button><img src="images/icons/search.svg" alt=""></button>
                    </div>
                </form>
                <div class="nav-compare">
                    <a href="#" class="compare-link">
                        <span class="icon">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7 17V8H2.59961C2.03956 8 1.75981 8 1.5459 8.10899C1.35774 8.20487 1.20487 8.35786 1.10899 8.54602C1 8.75993 1 9.03992 1 9.59998V17H7ZM7 17H13M7 17V2.59998C7 2.03992 7 1.75993 7.10899 1.54602C7.20487 1.35786 7.35774 1.20487 7.5459 1.10899C7.75981 1 8.03956 1 8.59961 1H11.3996C11.9597 1 12.2405 1 12.4544 1.10899C12.6425 1.20487 12.7948 1.35786 12.8906 1.54602C12.9996 1.75993 13 2.03992 13 2.59998V17M13 17L19 17V6.59998C19 6.03992 18.9996 5.75993 18.8906 5.54602C18.7948 5.35786 18.6425 5.20487 18.4544 5.10899C18.2405 5 17.9601 5 17.4 5H13V17Z"
                                    stroke="#414042" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <p>Сравнения</p>
                    </a>
                    <span class="compare-count">0</span>
                </div>
            </div>
            <div class="header__container container">
                <div class="header-nav__w">
                    <ul class="header-list list-reset">
                        <li>
                            <a class="drop" href="#">Каталог
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
                                    fill="none" class="drop-arrow replaced-svg">
                                    <path
                                        d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                        fill="white"></path>

                                </svg></a>
                            <ul class="drop-list">
                                <li class="drop-list__item drop-list__item--tasks">
                                    <span>
                                        Подбор оборудования по задачам
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Обследование сооружений </a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Промышленные обмеры</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Обмеры фасадов</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Дизайнерам интерьера</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Для градуировки и последующей поверки резервуаров</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Электронные тахеометры
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Nikon</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Sokkia</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Ruide</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">South</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Spectra </a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">South</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Precision</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Topcon</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Trimble</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Leica</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Лазерные сканеры / Системы лазерного сканирования
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Faro</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Leica</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Trimble</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Topcon</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Z+F</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Geomax</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">CHCNAV</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Riegl</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Софт</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Геодезические GNSS приемники
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Trimble</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Leica</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Sokkia</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Topcon</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Prince</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Spectra Precision</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">South</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">EFT</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Geomax</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Javad</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Софт</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Полевые контроллеры
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Trimble</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Leica</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Sokkia</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Topcon</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Prince</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Spectra Precision</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">South</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Javad</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Geomax</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Getac</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">BlackView</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Софт</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Модемы для GNSS приемников
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Satel</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Trimble</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Leica</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Pacific Crest</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Нивелиры
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Оптические</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Электронные</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Лазерные</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Ротационные</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Софт</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Теодолиты
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Оптические</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Электронные</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Модемы для GNSS приемников
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">leica</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">RGK</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Bosch</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Condtrol</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аксессуары</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <a class="#">Приборы вертикального проектирования</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Квадранты</a>
                                </li>
                                <li class="drop-list__item">
                                    <a class="#">Гравиметры</a>
                                </li>
                                <li class="drop-list__item">
                                    <a class="#">Беспилотные воздушные судна / БПЛА</a>
                                </li>
                                <li class="drop-list__item">
                                    <a class="#">Трассоискатели</a>
                                </li>
                                <li class="drop-list__item">
                                    <a class="#">Эхолоты</a>
                                </li>
                                <li class="drop-list__item">
                                    <a clas="#">Георадары</a>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Аксессуары
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Отражатели</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Марки</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Вехи</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Рейки</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Штативы</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Кейсы</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Клипсы для кейсов</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Рюкзаки</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Чехлы</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Трегеры</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Адаптеры</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Аккумуляторы</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Зарядные устройства</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Антенны</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Карты памяти</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Рулетки</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Рации</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-list__item">
                                    <span>
                                        Софт
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                            viewBox="0 0 25 24" fill="none" class="drop-arrow replaced-svg">
                                            <path
                                                d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                                fill="white"></path>

                                        </svg>
                                    </span>
                                    <ul class="drop-list2 list-reset">
                                        <li class="drop-list2__item">
                                            <a href="#">Для тахеометров</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Для GNSS приемников</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Для контроллеров</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">ДЛЯ сканеров</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Для нивелиров</a>
                                        </li>
                                        <li class="drop-list2__item">
                                            <a href="#">Для БПЛА</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="drop" href="#">Аренда
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
                                    fill="none" class="drop-arrow replaced-svg">
                                    <path
                                        d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                        fill="white"></path>
                                </svg>
                            </a>
                            <ul class="drop-list list-reset">
                                <li class="drop-list__item">
                                    <a href="#">3D сканеры</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#"></a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">GNSS приёмники</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Нивелиры цифровые</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Теодолиты</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Трассоискатели</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Аксессуары</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Акции</a>
                        </li>
                        <li>
                            <a href="#">Выкуп и Trade-in</a>
                        </li>
                        <li>
                            <a class="drop" href="#">Сервис
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
                                    fill="none" class="drop-arrow replaced-svg">
                                    <path
                                        d="M17.2071 10.7071C17.5976 10.3166 17.5976 9.68342 17.2071 9.29289C16.8166 8.90237 16.1834 8.90237 15.7929 9.29289L17.2071 10.7071ZM12.5 14L11.7929 14.7071C12.1834 15.0976 12.8166 15.0976 13.2071 14.7071L12.5 14ZM9.20711 9.29289C8.81658 8.90237 8.18342 8.90237 7.79289 9.29289C7.40237 9.68342 7.40237 10.3166 7.79289 10.7071L9.20711 9.29289ZM15.7929 9.29289L11.7929 13.2929L13.2071 14.7071L17.2071 10.7071L15.7929 9.29289ZM13.2071 13.2929L9.20711 9.29289L7.79289 10.7071L11.7929 14.7071L13.2071 13.2929Z"
                                        fill="white"></path>
                                </svg>
                            </a>
                            <ul class="drop-list list-reset">
                                <li class="drop-list__item">
                                    <a href="#">Сервисный центр</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Техподдержка и обучение</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Инструкции и сертификаты</a>
                                </li>
                                <li class="drop-list__item">
                                    <a href="#">Работы</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Геодезические услуги</a></li>
                        <li><a href="#">Поверка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <div class="header-basket">
                        <a class="header-basket-compare" href="#!">
                            <span>3</span>
                            <img src="images/icons/comp-white.svg" alt="">
                        </a>
                        <div class="head-basket-block">
                            <a href="#" class="head-basket-btn">
                                <div class="inner">
                                    <img src="images/icons/basket.svg" alt="icon">
                                    <span class="count">4</span>
                                </div>
                                <span>3 333 119 ₽</span>
                            </a>

                        </div>
                    </div>
                    <div class="header-mob">
                        <div class="header-top__block">
                            <ul class="header-top__list">
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Доставка и оплата</a></li>
                            </ul>
                            <a href="mailto:info@tigeo.ru" class="header-mail">info@tigeo.ru</a>
                            <p class="header-top__place">Головное подразделение: Москва, Амурская 9/6 строение 9</p>
                        </div>
                        <div class="contacts-i">
                            <a href="tel:88000000000">8 (800) 000-00-00</a>
                            <a href="tel:8 (800) 2222-801">8 (800) 2222-801</a>
                            <p>Пн-Пт: с 9:30 до 19:00 <br> Сб: с 10:00 до 15:00</p>
                        </div>
                        <ul class="social">
                            <li class="social-item tg">
                                <a href="#">
                                    <img src="images/icons/tg.svg" alt="icon">
                                </a>
                            </li>
                            <li class="social-item w">
                                <a href="#">
                                    <img src="images/icons/w.svg" alt="icon">
                                </a>
                            </li>
                        </ul>
                        <button class="btn-main header-btn order-call" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Заказать звонок
                        </button>
                    </div>
                </div>
                @include('./basket.html')
            </div>
        </div>
    </div>
</header>