<div class="modal" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Заполните данные и мы свяжемся с вами в рабочее
                    время</h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#!" id="modal-form">
                    <div class="form-group">
                        <input type="text" name="modal-name" id="modal-name" placeholder="Имя *" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="modal-phone" placeholder="Телефон*" required>
                    </div>
                    <div class="select-block">
                        <span>Интересующая услуга</span>
                        <div class="custom-select">
                            <select>
                                <option value="0">Выберите услугу:</option>
                                <option value="1">Услуга 1</option>
                                <option value="2">Услуга 2</option>
                                <option value="3">Услуга 3</option>
                                <option value="3">Услуга 3</option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать
                        </button>
                    </div>
                    <label class="control control--checkbox">
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                        <span>Даю свое согласие на <a href="#!">обработку персональных данных</a></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel1">Заполните данные и мы свяжемся с вами в рабочее
                    время</h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="modal-form1">
                    <div class="form-group">
                        <input type="text" name="modal-name" id="modal-name1" placeholder="Имя *" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="modal-mail" id="modal-email1" placeholder="E-mail*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="modal-inn" id="modal-inn1" placeholder="ИНН" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="modal-phone1" placeholder="Телефон*" required>
                    </div>

                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn1" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать
                        </button>
                    </div>
                    <label class="control control--checkbox">
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                        <span>Даю свое согласие на <a href="#!">обработку персональных данных</a></span>
                    </label>
                    <div class="modal-social">
                        <p>Задать вопрос в мессенджеры</p>
                        <ul class="social">
                            <li class="social-item tg">
                                <a href="#">
                                    <img src="images/icons/tg.svg" alt="icon">
                                </a>
                            </li>
                            <li class="social-item w">
                                <a href="#">
                                    <img src="images/icons/w.svg" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel2">Заполните данные и мы свяжемся с вами в рабочее
                    время</h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="modal-form2">
                    <div class="form-group">
                        <input type="text" name="modal-name" id="modal-name2" placeholder="Имя *" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="modal-mail" id="modal-email2" placeholder="E-mail*" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="modal-phone2" placeholder="Телефон*" required>
                    </div>

                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn2" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>