<div class="modal" id="modal-support" tabindex="-1" aria-labelledby="modal-support-label" aria-modal="true"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modal-support-label">Заполните данные и мы свяжемся с вами в рабочее время
                </h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#!" id="modal-form">
                    <div class="form-group">
                        <input type="text" name="modal-name" id="modal-name" placeholder="Имя *" required="">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="modal-phone" placeholder="Телефон*" required="">
                    </div>

                    <div class="form-group serial-group">
                        <span>Модель прибора и серийный номер</span>
                        <input type="text" name="modal-serial-number" id="modal-serial-number">
                    </div>

                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать</button>
                    </div>
                    <label class="control control--checkbox">
                        <input type="checkbox" checked="checked">
                        <div class="control__indicator"></div>
                        <span>Даю свое согласие на <a href="#!">обработку персональных данных</a></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-support-two" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-modal="true"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel2">Заполните данные и мы свяжемся с вами и сообщеим о
                    предстоящем
                    старте обучающих программ</h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#!" id="modal-form">
                    <div class="form-group">
                        <input type="text" name="modal-name2" id="modal-name2" placeholder="Имя *" required="">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="modal-phone2" placeholder="Телефон*" required="">
                    </div>

                    <div class="form-group text-group">
                        <span>Напишите нужную тему обучения или комментарий</span>
                        <textarea></textarea>
                    </div>

                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn2" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать</button>
                    </div>
                    <label class="control control--checkbox">
                        <input type="checkbox" checked="checked">
                        <div class="control__indicator"></div>
                        <span>Даю свое согласие на <a href="#!">обработку персональных данных</a></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>