<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="display: block; opacity: 1;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Заполните данные и мы свяжемся с вами в рабочее
                    время</h1>
                <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="images/icons/modal-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form action="#!" id="modal-form">
                    <div class="form-group">
                        <input type="text" name="modal-name" placeholder="Имя*" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" placeholder="Телефон*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="modal-name-trade" placeholder="Название прибора*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="modal-name-trade" placeholder="Название прибора*" required>
                    </div>
                    <div class="form-group textarea-group">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="modal-btn">
                        <button type="submit" class="btn-main" id="modal-form-btn" data-bs-toggle="modal"
                            data-bs-target="#thanks">Заказать
                        </button>
                    </div>
                    <label class="control control--checkbox">
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                        <span>Даю свое согласие на <a href="#!">обработку персональных данных</a></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>