<div class="modal-video" tabindex="-1" role="dialog" aria-label="You just openned the modal video">
    <div class="modal-video-body">
        <div class="modal-video-inner" id="modal-video-inner-LCOL9SJLCR90X">
            <div class="modal-video-movie-wrap" style="padding-bottom:56.25%">
                <button class="modal-video-close-btn js-modal-video-dismiss-btn"
                    aria-label="Close the modal by clicking here"></button>
                <iframe width="460" height="230" frameborder="0" allowfullscreen="true" tabindex="-1"
                    allow="autoplay; accelerometer; encrypted-media; gyroscope; picture-in-picture">
                </iframe>
            </div>
        </div>
    </div>
</div>